.gif {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
  }
  
#question-box1 {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}
#question-box2 {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}
#question-box3 {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}
#question-box4 {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}
#question-box5 {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}